.desktop {
    background-color: #525252;
    width: 100%;
    min-width: 1440px;
    min-height: 1024px;
    position: relative;
  }
  
  .desktop .group {
    position: absolute;
    top: 84px;
    left: 81px;
    width: 512px;
    height: 212px;
  }
  
  .desktop .rectangle {
    top: 0;
    width: 510px;
    height: 196px;
    background-color: #ce8669fa;
    position: absolute;
    left: 0;
  }
  
  .desktop .FULL-NAME-NAWEW {
    position: absolute;
    top: 42px;
    left: 33px;
    width: 445px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    font-weight: 700;
  }
  
  .desktop .span {
    font-family: "Inter-Regular", Helvetica;
  }
  
  .desktop .group-wrapper {
    position: absolute;
    width: 510px;
    height: 505px;
    top: 325px;
    left: 81px;
    display: flex;
  }
  
  .desktop .div {
    width: 512px;
    height: 505px;
    position: relative;
  }
  
  .desktop .rectangle-2 {
    top: 0;
    width: 510px;
    height: 505px;
    background-color: #ce8669fa;
    position: absolute;
    left: 0;
  }
  
  .desktop .BIRTHDAY-OCTOBER {
    position: absolute;
    top: 71px;
    left: 22px;
    width: 465px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-2 {
    position: absolute;
    top: 81px;
    left: 695px;
    width: 680px;
    height: 749px;
  }
  
  .desktop .rectangle-3 {
    top: 2px;
    width: 678px;
    height: 747px;
    background-color: #cd8569fa;
    position: absolute;
    left: 0;
  }
  
  .desktop .EDUCATION-KINDER {
    position: absolute;
    top: 0;
    left: 0;
    width: 678px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
  }
  
  .desktop .text-wrapper-3 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  
  .desktop .group-3 {
    position: absolute;
    top: 900px;
    left: 81px;
    width: 286px;
    height: 83px;
  }
  
.desktop .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;

  width: 284px;
  height: 83px;

  background-color: #d9d9d9;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  color: #000;

  z-index: 10;
}

.rectangle-4:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}