.desktop {
  background-color: #525252;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 9703px;
  position: relative;
}

.desktop .GRADING-TAB {
  position: absolute;
  top: 0;
  left: 0;
  width: 1442px;
  height: 87px;
}

.desktop .rectangle {
  top: 0;
  width: 1440px;
  height: 87px;
  position: absolute;
  left: 0;
  background-color: #d9d9d9;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 448px;
  width: 544px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  top: 1958px;
  left: 0;
  position: absolute;
  width: 1442px;
  height: 87px;
}

.desktop .GRADING-TAB-2 {
  top: 3366px;
  left: 5px;
  position: absolute;
  width: 1442px;
  height: 87px;
}

.desktop .GRADING-TAB-3 {
  top: 5994px;
  left: 5px;
  position: absolute;
  width: 1442px;
  height: 87px;
}

.desktop .group {
  position: absolute;
  width: 1211px;
  height: 805px;
  top: 8822px;
  left: 133px;
  display: flex;
}

.desktop .group-2 {
  width: 1215px;
  height: 805px;
  position: relative;
}

.desktop .reflection-during-my {
  position: absolute;
  top: 0;
  left: 0;
  width: 1211px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  top: 722px;
  width: 284px;
  height: 83px;
  position: absolute;
  left: 0;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 722px;
  left: 0;
  width: 284px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  top: 631px;
  left: 126px;
  width: 1178px;
  height: 600px;
  aspect-ratio: 1.96;
  position: absolute;
  object-fit: contain;
}

.desktop .image-1 {
  top: 172px;
  left: 126px;
  width: 1188px;
  height: 424px;
  position: absolute;
  object-fit: contain;
}


.desktop .image-2 {
  top: 650px;
  left: 126px;
  width: 1175px;
  height: 600px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-3 {
  top: 1300px;
  left: 126px;
  width: 1204px;
  height: 564px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-4 {
  top: 2100px;
  left: 132px;
  width: 1198px;
  height: 524px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-5 {
  top: 2700px;
  left: 129px;
  width: 1181px;
  height: 621px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-6 {
  top: 3500px;
  left: 118px;
  width: 1188px;
  height: 545px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-7 {
  top: 4200px;
  left: 148px;
  width: 1162px;
  height: 452px;
  aspect-ratio: 2.57;
  position: absolute;
  object-fit: contain;
}

.desktop .image-8 {
  top: 4800px;
  left: 129px;
  width: 1200px;
  height: 463px;
  position: absolute;
  object-fit: contain;
}

.desktop .image-9 {
  top: 5439px;
  left: 129px;
  width: 1200px;
  height: 463px;
  position: absolute;
  object-fit: contain;
}

.desktop .premlims {
  position: absolute;
  top: 6173px;
  left: 64px;
  width: 646px;
  height: 484px;
  object-fit: contain;
}

.desktop .prelims {
  position: absolute;
  top: 6173px;
  left: 728px;
  width: 657px;
  height: 493px;
  object-fit: contain;
}

.desktop .midterms {
  position: absolute;
  top: 6698px;
  left: 64px;
  width: 646px;
  height: 484px;
  object-fit: contain;
}

.desktop .midterms-2 {
  position: absolute;
  top: 6698px;
  left: 739px;
  width: 646px;
  height: 484px;
  object-fit: contain;
}

.desktop .finals {
  position: absolute;
  top: 7241px;
  left: 356px;
  width: 753px;
  height: 570px;
  object-fit: contain;
  transform: rotate (90deg);
}

.desktop .finals-2 {
  position: absolute;
  top: 7850px;
  left: 211px;
  width: 1056px;
  height: 805px;
  object-fit: contain;
}